* {
	margin: 0;
	
}

body {
	background-color: #F7F7F7;
	font-family: 'Roboto', sans-serif;
}

.header {
	height:75px;

	background-color: #C00000;

	
}
.header>p {
	color: #FFFFFF;
	font-family: 'Fugaz One', cursive;
	font-size: 50px;
	margin-left: 60px;
}


.relayStationContainer {
	width:540px;
	
	margin-top: 50px;

	background-color: #eef1f6;
	margin-left: 60px;
	

	border-style: solid;
	border-width: 0;
	border-color: #BFBFBF;
	border-top-width: 15px;
	border-top-color: #002060;
}

.relayStationHeader {
	padding: 5px 15px 10px 15px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #BFBFBF;
	position: relative;
}
.relayStationHeader>h2 {
	font-weight: 500; /*medium*/
	font-style: normal;
	font-size: 34px;
}

.relayStationHeader>p.stationDescription {
	font-size: 34px;
	display: inline;
}

.relayStationHeader>p.stationDescriptionId {
	font-weight: 300;
	font-size: 24px;
	margin-right: 0;
	display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.relayStationContent {
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #BFBFBF;
	height:60vh;
	padding-top: 40px;
}


.carContainer {
	margin: 0 25px 25px 25px;
	background-color: #FFFFFF;
	height: 200px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.carHeader {
	height: 40px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #BFBFBF;
}

.squareGreen {
	display: inline-block;
	width: 40px;
	height: 40px;
	float: left;
}

.squareGreen {
	background-color: #70AD47;
}

.carDescription {
	font-size: 24px;
	padding-top: 6px;
	padding-left: 10px;
	float: left;
}

.carDataContainer {
	display: flex;
	justify-content: space-between;
	padding: 15px 70px 0 70px;
	font-weight: 900;
	text-align: center;
}

.dataValue {
	font-size: 40px;
}

.dataLabel {
	font-size: 28px;
}

.footer {
	height:30px;
	background-color: #C00000;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #FFFFFF;
}

.footer>p {
	margin: 5px;
	text-align: center;
	font-size: 12pt;
}